
html {
   width: 700px;
}
* {
   box-sizing: border-box;
}
body {
   padding: 20px;
}
.flex-grid {
   display: flex;
   .col {
      flex: 1;
   }
}
.col {
   padding: 10px;
}
.labelfont {
   font-family: monospace;
}
.w-5 {
   width: 500px;
}
.w-4 {
   width: 400px;
}
.w-3 {
   width: 300px;
}
.w-2 {
   width: 200px;
}
.w-1 {
   width: 100px;
}
.ls-1rem {
   line-height: 1rem;
}
.ls-1-1rem {
   line-height: 1.1rem;
}
.ls-1-15rem {
   line-height: 1.15rem;
}
.ls-1-2rem {
   line-height: 1.2rem;
}
.ls-1-25rem {
   line-height: 1.25rem;
}
.ls-1-4rem {
   line-height: 1.4rem;
}
.ls-1-5rem {
   line-height: 1.5rem;
}
.ls-1-55rem {
   line-height: 1.55rem;
}
.ls-1-625rem {
   line-height: 1.625rem;
}
.ls-1-75rem {
   line-height: 1.75rem;
}
.ls-2rem {
   line-height: 2rem;
}




/////////////////////////////////////////////
/////////////////////////////////////////////
// EVERYTHING AFTER THIS LINE MUST 
// BE REMOVED BEFORE ADDING TO EQX
/////////////////////////////////////////////
/////////////////////////////////////////////


// Merriweather include 
@font-face {
   font-family: "Merriweather";
   src: url(./static/Merriweather-Roman-VF.ttf) format("truetype-variations");
   font-style: normal;
   // font-weight: 1 999;

}
@font-face {
   font-family: "Merriweather";
   src: url(./static/Merriweather-Italic-VF.ttf) format("truetype-variations");
   font-style: italic;
   // font-weight: 1 999;
}

/* //////////////////////////////////// */
/* Condensed Width */
/* Default */
.eqx-ca1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 7, 'wght' 300;
}
.eqx-ca2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 7, 'wght' 400;
}
.eqx-ca3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 7, 'wght' 700;
}
.eqx-ca4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 7, 'wght' 900;
}
.eqx-ca1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 7, 'wght' 300;
   font-style: italic; 
}
.eqx-ca2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 7, 'wght' 400;
   font-style: italic; 
}
.eqx-ca3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 7, 'wght' 700;
   font-style: italic; 
}
.eqx-ca4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 7, 'wght' 900;
   font-style: italic; 
}

/* Text */
.eqx-cb1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 30, 'wght' 300;
}
.eqx-cb2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 30, 'wght' 400;
}
.eqx-cb3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 30, 'wght' 700;
}
.eqx-cb4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 30, 'wght' 900;
}
.eqx-cb1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 30, 'wght' 300;
   font-style: italic; 
}
.eqx-cb2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 30, 'wght' 400;
   font-style: italic; 
}
.eqx-cb3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 30, 'wght' 700;
   font-style: italic; 
}
.eqx-cb4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 30, 'wght' 900;
   font-style: italic; 
}

/* Headline */
.eqx-cc1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 70, 'wght' 300;
}
.eqx-cc2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 70, 'wght' 400;
}
.eqx-cc3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 70, 'wght' 700;
}
.eqx-cc4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 70, 'wght' 900;
}
.eqx-cc1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 70, 'wght' 300;
   font-style: italic; 
}
.eqx-cc2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 70, 'wght' 400;
   font-style: italic; 
}
.eqx-cc3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 70, 'wght' 700;
   font-style: italic; 
}
.eqx-cc4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 70, 'wght' 900;
   font-style: italic; 
}

/* Display */
.eqx-cd1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 108, 'wght' 300;
}
.eqx-cd2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 108, 'wght' 400;
}
.eqx-cd3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 108, 'wght' 700;
}
.eqx-cd4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 108, 'wght' 900;
}
.eqx-cd1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 108, 'wght' 300;
   font-style: italic; 
}
.eqx-cd2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 108, 'wght' 400;
   font-style: italic; 
}
.eqx-cd3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 108, 'wght' 700;
   font-style: italic; 
}
.eqx-cd4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 108, 'wght' 900;
   font-style: italic; 
}

/* Big */
.eqx-ce1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 144, 'wght' 300;
}
.eqx-ce2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 144, 'wght' 400;
}
.eqx-ce3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 144, 'wght' 700;
}
.eqx-ce4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 144, 'wght' 900;
}
.eqx-ce1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 144, 'wght' 300;
   font-style: italic; 
}
.eqx-ce2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 144, 'wght' 400;
   font-style: italic; 
}
.eqx-ce3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 144, 'wght' 700;
   font-style: italic; 
}
.eqx-ce4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 87, 'opsz' 144, 'wght' 900;
   font-style: italic; 
}




/* //////////////////////////////////// */
/* Regular Width (100) */
/* Default */
.eqx-ra1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 7, 'wght' 300;
}
.eqx-ra2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 7, 'wght' 400;
}
.eqx-ra3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 7, 'wght' 700;
}
.eqx-ra4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 7, 'wght' 900;
}
.eqx-ra1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 7, 'wght' 300;
   font-style: italic; 
}
.eqx-ra2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 7, 'wght' 400;
   font-style: italic; 
}
.eqx-ra3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 7, 'wght' 700;
   font-style: italic; 
}
.eqx-ra4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 7, 'wght' 900;
   font-style: italic; 
}

/* Text */
.eqx-rb1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 30, 'wght' 300;
}
.eqx-rb2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 30, 'wght' 400;
}
.eqx-rb3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 30, 'wght' 700;
}
.eqx-rb4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 30, 'wght' 900;
}
.eqx-rb1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 30, 'wght' 300;
   font-style: italic; 
}
.eqx-rb2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 30, 'wght' 400;
   font-style: italic; 
}
.eqx-rb3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 30, 'wght' 700;
   font-style: italic; 
}
.eqx-rb4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 30, 'wght' 900;
   font-style: italic; 
}

/* Headline */
.eqx-rc1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 70, 'wght' 300;
}
.eqx-rc2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 70, 'wght' 400;
}
.eqx-rc3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 70, 'wght' 700;
}
.eqx-rc4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 70, 'wght' 900;
}
.eqx-rc1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 70, 'wght' 300;
   font-style: italic; 
}
.eqx-rc2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 70, 'wght' 400;
   font-style: italic; 
}
.eqx-rc3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 70, 'wght' 700;
   font-style: italic; 
}
.eqx-rc4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 70, 'wght' 900;
   font-style: italic; 
}

/* Display */
.eqx-rd1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 108, 'wght' 300;
}
.eqx-rd2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 108, 'wght' 400;
}
.eqx-rd3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 108, 'wght' 700;
}
.eqx-rd4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 108, 'wght' 900;
}
.eqx-rd1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 108, 'wght' 300;
   font-style: italic; 
}
.eqx-rd2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 108, 'wght' 400;
   font-style: italic; 
}
.eqx-rd3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 108, 'wght' 700;
   font-style: italic; 
}
.eqx-rd4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 108, 'wght' 900;
   font-style: italic; 
}

/* Big */
.eqx-re1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 144, 'wght' 300;
}
.eqx-re2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 144, 'wght' 400;
}
.eqx-re3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 144, 'wght' 700;
}
.eqx-re4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 144, 'wght' 900;
}
.eqx-re1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 144, 'wght' 300;
   font-style: italic; 
}
.eqx-re2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 144, 'wght' 400;
   font-style: italic; 
}
.eqx-re3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 144, 'wght' 700;
   font-style: italic; 
}
.eqx-re4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 100, 'opsz' 144, 'wght' 900;
   font-style: italic; 
}




/* //////////////////////////////////// */
/* Wide Width (112) */
/* Default */
.eqx-wa1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 7, 'wght' 300;
}
.eqx-wa2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 7, 'wght' 400;
}
.eqx-wa3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 7, 'wght' 700;
}
.eqx-wa4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 7, 'wght' 900;
}
.eqx-wa1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 7, 'wght' 300;
   font-style: italic; 
}
.eqx-wa2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 7, 'wght' 400;
   font-style: italic; 
}
.eqx-wa3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 7, 'wght' 700;
   font-style: italic; 
}
.eqx-wa4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 7, 'wght' 900;
   font-style: italic; 
}

/* Text */
.eqx-wb1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 30, 'wght' 300;
}
.eqx-wb2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 30, 'wght' 400;
}
.eqx-wb3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 30, 'wght' 700;
}
.eqx-wb4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 30, 'wght' 900;
}
.eqx-wb1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 30, 'wght' 300;
   font-style: italic; 
}
.eqx-wb2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 30, 'wght' 400;
   font-style: italic; 
}
.eqx-wb3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 30, 'wght' 700;
   font-style: italic; 
}
.eqx-wb4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 30, 'wght' 900;
   font-style: italic; 
}

/* Headline */
.eqx-wc1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 70, 'wght' 300;
}
.eqx-wc2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 70, 'wght' 400;
}
.eqx-wc3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 70, 'wght' 700;
}
.eqx-wc4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 70, 'wght' 900;
}
.eqx-wc1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 70, 'wght' 300;
   font-style: italic; 
}
.eqx-wc2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 70, 'wght' 400;
   font-style: italic; 
}
.eqx-wc3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 70, 'wght' 700;
   font-style: italic; 
}
.eqx-wc4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 70, 'wght' 900;
   font-style: italic; 
}

/* Display */
.eqx-wd1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 108, 'wght' 300;
}
.eqx-wd2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 108, 'wght' 400;
}
.eqx-wd3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 108, 'wght' 700;
}
.eqx-wd4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 108, 'wght' 900;
}
.eqx-wd1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 108, 'wght' 300;
   font-style: italic; 
}
.eqx-wd2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 108, 'wght' 400;
   font-style: italic; 
}
.eqx-wd3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 108, 'wght' 700;
   font-style: italic; 
}
.eqx-wd4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 108, 'wght' 900;
   font-style: italic; 
}

/* Big */
.eqx-we1 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 144, 'wght' 300;
}
.eqx-we2 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 144, 'wght' 400;
}
.eqx-we3 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 144, 'wght' 700;
}
.eqx-we4 {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 144, 'wght' 900;
}
.eqx-we1i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 144, 'wght' 300;
   font-style: italic; 
}
.eqx-we2i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 144, 'wght' 400;
   font-style: italic; 
}
.eqx-we3i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 144, 'wght' 700;
   font-style: italic; 
}
.eqx-we4i {
   font-family: "Merriweather";
   font-variation-settings: 'wdth' 112, 'opsz' 144, 'wght' 900;
   font-style: italic; 
}

